body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #101010
}

label {
color: #cccccc;
}

header {
  background-color: #202020;
  padding: 20px;
  text-align: center;
}

h1 {
  margin-top: 0;
  color: #cccccc;
}

h2 {
  color: #cccccc;
}

section#item-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  padding: 20px;
  background-color: #101010
}

img {
  max-width: 100%;
  height: auto;
}

.item-card {
  border: 1px solid #ddd;
  padding: 10px;
  color: #cccccc
}

.item-card a {
  color: #cccccc;
  text-decoration: none;
}

.item-card a:hover {
  text-decoration: underline;
  color: #e0e0e0
}